html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #F2F2F2;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-4 {
  float: left;
  width: 33.33333%;
}

.col-6 {
  float: left;
  width: 50%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  background-color: #000;
}

.header .container:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
}

.logo a {
  display: block;
  padding: 24px 0;
  font-size: 24px;
}

.nav {
  float: left;
  padding-left: 50px;
}

.nav ul:after {
  content: "";
  display: table;
  clear: both;
}

.nav li {
  float: left;
}

.nav a {
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 16px;
  color: #9B9B9B;
  letter-spacing: 1px;
  border-bottom: 2px solid #000;
}

.nav a:hover, .nav a.active {
  color: #fff;
  border-color: #fff;
}

.admin {
  float: right;
  line-height: 72px;
}

.overview {
  padding: 30px 0;
}

.overview h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.overview i {
  padding-right: 5px;
}

.overview .row {
  margin: 0 -10px;
}

.overview .col-4 {
  padding: 0 10px;
}

.overview .col-4 > div {
  text-align: center;
  padding: 20px 40px;
  background-color: #fff;
}

.overview .col-4 h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 18px;
}

.overview .col-4 p {
  font-size: 36px;
}

.overview .revenue-num {
  color: #7ED321;
}

.overview .cost-num {
  color: #D0021B;
}

.overview .income-num {
  color: #4A90E2;
}

.chart .container {
  padding: 20px;
  height: 400px;
  background-color: #fff;
}

.chart .chart-container {
  height: 90%;
}

.chart h3 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  text-transform: capitalize;
}

.order {
  padding: 30px 0;
}

.order .row {
  margin: 0 -10px;
}

.order .col-6 {
  padding: 0 10px;
}

.order .col-6 > div {
  padding: 20px 30px;
  background-color: #fff;
}

.order .col-6 h2 {
  margin-bottom: 20px;
  font-size: 28px;
  text-transform: capitalize;
  font-weight: bold;
}

.order .transaction-Website li {
  margin-bottom: 45px;
}

.order .transaction-Website li:after {
  content: "";
  display: table;
  clear: both;
}

.order .transaction-Website p {
  float: left;
  width: 25%;
  padding-right: 50px;
  line-height: 45px;
}

.order .transaction-Website .web {
  width: 50%;
  padding-left: 50px;
  color: #9B9B9B;
}

.order .transaction-Website .flow {
  font-size: 20px;
  text-align: right;
}

.order .transaction-Website .percentage {
  float: right;
  line-height: 45px;
}

.order .transaction-Website .percentage.percentage-up {
  color: #7ED321;
}

.order .transaction-Website .percentage.percentage-down {
  color: #D0021B;
}

.order .transaction-Website .percentage .fas {
  padding-right: 15px;
  font-size: 20px;
  line-height: 45px;
}

.order i {
  float: left;
  font-size: 45px;
}

.order .latest-order li {
  margin-bottom: 20px;
}

.order .latest-order li:after {
  content: "";
  display: table;
  clear: both;
}

.order .latest-order li img {
  float: left;
}

.order .latest-order li .order-info {
  float: left;
  width: 60%;
  padding: 10px;
}

.order .latest-order li .total {
  float: right;
  width: 15%;
  text-align: right;
  padding-top: 60px;
}

.order .latest-order li .total h3 {
  font-size: 14px;
}

.order .latest-order li .total .dollar {
  font-size: 20px;
}

.order .latest-order li .buy-date {
  color: #9B9B9B;
}

.order .latest-order li .buyer {
  color: #9B9B9B;
}
