/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: Microsoft JhengHei; 
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after{
    box-sizing: border-box;
}

/* CSS reset end */
.wrap{
	margin: 0 auto;
	max-width: 1000px;
	
}
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}

/*以下是灰色bar*/

.follow{
	margin-top: 10px;
	margin-bottom: 10px;
	background: #f6f6f6;
	height: 30px;
	max-width: 100%;
	
}
.follow ul li{
	display: block;
	float: right;
	margin-right: 15px;
	
}
.follow ul li img{
	margin-right: 4px;
	float: left;
	
}
.follow ul li a{
	font-size: 14px;
	text-decoration:none;
	margin-top: 7px;
	float: left;
}
.twitterWord{
	color: #67c0ef;
}
.fbWord{
	color: #4460a0;
	padding-right: 15px;
	border-right: 2px solid #cccccc;
}
@media(max-width:767px){
	.follow ul li{
		display: block;
		float: right;
		margin-right: 2%;
	}	
}

/*以下是header*/

.header h1 a{
	width: 182px;
	height: 36px;
	background-image: url(images/logo.png);
	text-indent:101%;
    overflow: hidden;
	white-space: nowrap;
	float: left;
	
}
.header ul{
	float: right;
}
.header ul li{
	float: left;
	margin-right: 20px;
}
.header ul li a{
	display: block;
	padding: 18px 10px;
	margin: 0 5px;
	color: #00cc99;	
	text-decoration: none;
	font-size: 18px;
}
.header ul li a:hover{
	border-bottom: 3px  #00cc99 solid;
}


/* 這裡有小問題 */
@media (max-width: 768px){
	.header h1 a{
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		margin-bottom: 2px;
	}
	.header ul{
		width: 100%;
	}

	.header ul li{
		width: 50%;
    	margin: 3px 0px;  /* 尤其是這裡，拿掉就變成每個li一個個往下排*/
    	text-align: center;
	}
	.header ul li a{
		float: none;
		text-align: center;
		
	}
	.header ul li a:hover{
		border: none;
		background-color: #00cc99;
		color: #fff;
	}
}

/*以下是三區塊介紹*/
.classList{
padding-top: 20px;
border-top: #f6f6f6 1px solid; 
}
.classList li{
	float: left;
	width: 31%;
	border: 1px solid #cccccc;
	box-shadow: 0 3px 10px gray;
	margin:0 1% 20px 1%;
	box-sizing: border-box;
	
}

@media (max-width: 768px) {
	.classList li{
		float: none;
		width: 98%;
		margin: 10px 1%;
	}

}

.classPic{
	display: block;
	height: 160px;
}
.classList li img{
	margin:10px auto;
	display: block;	
}

#RWD{
	padding-top: 35px;
}
#jquery{
	padding-top: 20px;
}

.classList li h2{
	font-size: 22px;
	color: black;
	text-align:center;
	font-weight:bold;
	text-shadow:1px 1px 3px gray;
	letter-spacing: 2px;
}

.classList li p{
	height: 104px; /* 不想寫死高度，但不給的話，PC版的li底部不對齊，而且ipad版下方會有很大的留白，想讓li隨著字增加而增高，怎麼辦呢*/
	margin: 20px 15px 35px 15px;
	color: #000;
	letter-spacing: 2px;
	font-size: 16px;
	line-height: 18px;
	
}


