.wrap{
/*   max-width: 1200px; */
  min-width: 215px;
}
header{
 background-color: #7828B4;
 height: 92px;
 display:flex;
 justify-content: flex-start;
 align-items:center;
 color: #FFFFFF;
 padding-left: 78px;
 position:fixed;
 top:0px;
 width:100%;
 z-index: 100;
}
.search{
  border-bottom: 1px solid #FFFFFF ;
  width: 33.3%;
  height: 30px;
  flex:none; 
  white-space: nowrap;
}
.search input{
  background-color:transparent;
  width: 90%; 
}
.logo{
  flex:none; 
  max-width: 157px;
/*  height: 44px; */
  margin-right: 10%;
}
.container{
  position: relative;
  display: flex;
  justify-content:center;
/*   height:auto; */
  padding-top:92px;/*top值为header的高*/
  padding-bottom:100px;/*bottom值为footer的高*/
  box-sizing:border-box;/*padding值不会增加main的高度*/
  width: 100%;
}
body{
  margin: 0;
  font-family: 'Roboto','Microsoft JhengHei', '微軟正黑體',sans-serif ;
  background-color: #F2F2F2;
}
section{
  flex: none;
  width: 25%;
}
.section{
  background-color: #EBEBEB;
  display: flex;
  justify-content: center;
}
.sectionBox{
  flex: none;
  width: 70%;
  padding-bottom: 20px;
}
#section2{
  width: 65%;
  padding-left: 3%;
  box-sizing: border-box;
}
.fstElement,.fstToggleBtn,.fstMultipleMode .fstControls{
  width: 100%;
  font-size: 16px;
}
.fstMultipleMode .fstControls,.fstResults{
  overflow: auto;
  max-height: 150px;
}
.fstSingleMode .fstQueryInput,.fstResultItem,.fstQueryInput.fstQueryInputExpanded,.fstNoResults{
  font-size: 16px;
}
.fstChoiceItem,.fstResultItem.fstFocused,.fstResultItem.fstSelected{
  background-color: #9013FE;
  border-color: #9013FE;
  font-size: 16px;
}
#location{
/*   height: 127px; */
  border-bottom: 2px solid #D7D7D7 ;
}
#date{
/*   height: 187px; */
  border-bottom: 2px solid #D7D7D7 ;
}
#categories{
/*   height: 300px; */
}
input{
  border-style: none;
  outline-style:none;
}
i{
  font-family: FontAwesome;
  margin-right: 12px;
}
.subtitle{
   font-size: 20px;
}
.title{
  font-size: 24px;
}
.regular{
  font-size: 16px;
}
#fromDate .regular,#toDate .regular{
  height: 40px;
  width: 100%;
/*   margin-bottom: 12px; */
  box-sizing: border-box;
  padding-left: 12px;
}
#section2 p.headColor{
  display: inline-block;
}
.white{
  color: #FFFFFF;
}
header ::-webkit-input-placeholder{ /* WebKit browsers */ 
  color: #FFFFFF; 
  opacity: 0.5;
  font-style: italic;
} 
header :-moz-placeholder{ /* Mozilla Firefox 4 to 18 */ 
  color: #FFFFFF; 
  opacity: 0.5;
  font-style: italic;
} 
header ::-moz-placeholder{ /* Mozilla Firefox 19+ */ 
  color: #FFFFFF; 
  opacity: 0.5;
  font-style: italic;
} 
header :-ms-input-placeholder{ /* Internet Explorer 10+ */ 
  color: #FFFFFF; 
  opacity: 0.5;
  font-style: italic;
}
.imgDiv{
  min-width: 220px;
  height: 220px;
  background-size: cover;
  background-position: center center;
}
article{
  display:flex;
  margin-bottom: 20px;
}
article:hover{
  box-shadow: 5px 6px 19px #989898; 
  -webkit-box-shadow: 5px 6px 19px #989898; 
  -moz-box-shadow: 5px 6px 19px #989898; 
}
.content{
  width: 460px;
  height: 220px;
  background-color: #FFFFFF;
  padding: 0px 12px 20px;
  flex:none; 
/*   overflow: auto; */
  box-sizing: border-box;
}
img{
	display:block;
	width:100%; 
	height:100%;/* auto等比例 */
}
.headColor{
  color: #9013FE;
}
footer{
  width: 100%;
  background-color: #4B0082;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 100;
}

button{
   cursor:pointer;
   color: #FFFFFF;
   background-color:transparent;
   border-style: none;
   outline:none; /*點擊時的藍色邊框*/
}
#searchBtn{
  height: 45px;
  width: 100%;
  background-color: #9013FE;
  font-size: 20px;
  margin-top: 22px;
  border-radius:10px;
}
#searchBtn:hover{
  background-color: #7828B4;
}
.tag{
  height: 24px;
  color: #FFFFFF;
  background-color: #b299e6;
  text-align: center;
  font-weight: 500;
  display:inline-block;
  border-radius: 24px;
  -webkit-border-radius: 24px; /* for Webkit */ 
  -moz-border-radius: 24px; /* for Firefox */ 
  margin-left: 20px;
}
.detailInfo{
  margin-bottom: 3px;
  color: #737373;
}
.pageArea{
  position: absolute;
  bottom: 45px;
  display: flex;
/*   white-space: nowrap; */
}
.pageBtn{
  flex: none;
  height: 42px;
  width: 42px;
  border: 1px solid #e0d6f5 ;
  background-color: #ffffff;
  color: #9013FE;
}
.pageBtn:hover,.pageChange{
  background-color: #9013FE;
  color: #ffffff;
}
button[name="plus"], button[name="minus"]{
  display: none;
}
@media(max-width: 1024px){
  article{
    flex-direction:column;
  }
  .imgDiv{
    width: 100%;
    height: 280px;
  }
  .content{
    width: 100%;
    height: auto;
  }
  section{
    width: 35%;
  }
  #section2{
    width: 50%;
    margin: 0 auto;
    padding: 0;
  }
  .container{
    justify-content:flex-start;
    justify-content:center;
  }
}
@media(max-width: 768px){/* pad */ 
  header{
    justify-content: center;
    padding-left: 0px; 
  }
  .container{
    padding-bottom: 150px;
  }
  .pageArea{
    width: 70%;   
  }
}
@media(max-width: 435px){/* mobile */ 
  .search{
    width: 80%;
    margin-top: 5px;
  } 
  header{
    flex-direction:column;
  } 
  .container{
    flex-direction:column;
    padding-bottom: 190px;
  }
  section{
    width: 100%;
  }
  #section2{
    width: 80%;
  }
  .pageArea{
    width: 100%;   
  }
  button[name="plus"], button[name="minus"]{
    display: inline-block;
    float: right;
  }
}